@forward 'vendor/tailwind.css';

.container-center {
  @apply container mx-auto px-4;
}

.logo-text {
  font-family: 'GOST Type A', serif;
  font-style: italic;
  font-size: 1.5rem;
}

.logo-g {
  background-color: var(--color-brand-primary);
  color: white;
  padding: 0rem 0.8rem 0rem 0.5rem;
  border-radius: 0.25rem;
  margin-right: 0rem;
  display: inline-block;
}

.logo-t {
  display: inline-block;
  letter-spacing: 0.1rem;
}
